[submodule ".vim/pack/packages/start/vim-airline"]
	path = .vim/pack/packages/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/packages/start/vim-test"]
	path = .vim/pack/packages/start/vim-test
	url = https://github.com/janko-m/vim-test.git
[submodule ".vim/pack/packages/start/gruvbox"]
	path = .vim/pack/packages/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/pack/packages/start/fzf.vim"]
	path = .vim/pack/packages/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/packages/start/vim-terraform"]
	path = .vim/pack/packages/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".vim/pack/packages/start/vim-fugitive"]
	path = .vim/pack/packages/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/packages/start/vim-go"]
	path = .vim/pack/packages/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/packages/start/coc.nvim"]
	path = .vim/pack/packages/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".vim/pack/packages/start/nord-vim"]
	path = .vim/pack/packages/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule ".vim/pack/packages/start/vim-gutentags"]
	path = .vim/pack/packages/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
