[submodule ".vim/pack/packages/opt/Apprentice"]
	path = .vim/pack/packages/opt/Apprentice
	url = https://github.com/romainl/Apprentice.git
[submodule ".vim/pack/packages/start/vim-airline"]
	path = .vim/pack/packages/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/packages/opt/papercolor-theme"]
	path = .vim/pack/packages/opt/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule ".vim/pack/packages/start/vim-airline-themes"]
	path = .vim/pack/packages/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/pack/packages/start/vim-test"]
	path = .vim/pack/packages/start/vim-test
	url = https://github.com/janko-m/vim-test.git
